<footer class="border-top mt-5 bg-secondary text-light" >
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-square-instagram" style="font-size: 2rem !important;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-square-facebook" style="font-size: 2rem !important;"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-linkedin" style="font-size: 2rem !important;"></i></a>
        </li>
    </ul>
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">&copy;WanderLust Pvt. Ltd.</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Privacy</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Terms</a>
        </li>
    </ul>

</footer>